@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex {
    display: flex;

}

.bg-light {
    background-color: rgba(255, 216, 14, 0.1);
}

.dark-one {
    color: #131313;
}

.dark-3 {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}

.btn-primary {
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;

}

/* main style */

/* nav style */
nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 97px;
}

.logo {
    font-size: 2.5rem;
}

nav,
.banner,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.menu {
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner-section */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;

}

.banner-content h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-content p {
    margin-bottom: 32px;
}

.banner-image img {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 45px;
}
/* team feature section */
#teams-features{
    margin-top: 85px;
    align-items: center;
}
.team-images-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px;

}
.text-content{
    margin-left: 73px;
    max-width: 537px;
}
.text-content .text-title{
    font-size: 2.7rem;
    font-weight: 700;
 
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
#feature{
    color: #FF900E;
}
.description{
    margin-top: 24px;
    margin-bottom: 32px;
}

/* responsive for mobile */
@media screen and (max-width:576px) {

    /* banner and nav section */
    nav,
    .menu {
        flex-direction: column;

    }
    .menu{
    }

    .banner-content h2 {
        font-size: 2rem;
    }

    .logo {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    .btn-primary {
        font-size: 1rem;
    }
    
    /* team-section */
    #teams-features{
       flex-direction: column;
    }
    .team-images-container{
           grid-template-columns: 1fr;
           
    }
    .text-content{
        margin-top: 20px;
        margin-left:16px;
       
    }
    .team-images-container img{
        width: 100%;
    }
}