@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex {
    display: flex;

}

.bg-light {
    background-color: rgba(255, 216, 14, 0.1);
}

.dark-one {
    color: #131313;
}

.dark-3 {
    color: #727272;
    font-size: 1rem;
    line-height:26px;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border:none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;

}

/* main style */

/* nav style */
nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 97px;
}

.logo {
    font-size: 2.5rem;
}

nav,
.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.menu {
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}
